:root{
  --color-white: #fff;
  --color-black: #000;
  --font-family: 'Inter', sans-serif;
}

body{
  background-color: #181818;
}

button{
  background-color: #6880FF;
  height: 39px;
  border-radius: 12px;
  padding: 0 25px;
  cursor: pointer;
  border: none;
}

button:hover{
  background-color: #7C91FF;
}

ul,ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: #7B61FF;
}

a:hover{
  color: #7C91FF;
}

input, select, textarea{
  background: transparent;
  border: none;
}

img{
  max-width: 100%;
}

